@import "tailwindcss";

body {
  font-family: "GeneralSans", sans-serif;
}

/* === GLOBAL SCROLLBAR REMOVAL === */
html,
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and old Edge */
}

/* Chrome, Safari, Edge (WebKit-based) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

@font-face {
  font-family: "GeneralSans";
  src:
    url("../../public/fonts/GeneralSans-Variable.woff2") format("woff2"),
    url("../../public/fonts/GeneralSans-Variable.woff") format("woff"),
    url("../../public/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Italic";
  src:
    url("../../public/fonts/GeneralSans-VariableItalic.woff2") format("woff2"),
    url("../../public/fonts/GeneralSans-VariableItalic.woff") format("woff"),
    url("../../public/fonts/GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}